---
interface Props {
  columns?: number;
}

const { columns = 12 } = Astro.props;
---

<div
  class="grid gap-6"
  style={`grid-template-columns: repeat(${columns}, minmax(0, 1fr));`}
>
  <slot />
</div>
